server:
  port: 10000

spring:
  application:
    name: canary-app

  config:
    import: optional:file:.env[.properties]

  datasource:
    url: jdbc:mysql://${RDS_ENDPOINT}:3307/canary?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true&rewriteBatchedStatements=true&cachePrepStmts=true&prepStmtCacheSize=250&prepStmtCacheSqlLimit=2048&useServerPrepStmts=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${RDS_USERNAME}
    password: ${RDS_PASSWORD}

  jpa:
    defer-datasource-initialization: true
    open-in-view: false
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        show_sql: true
        jdbc.time_zone: Asia/Seoul
        generate_statistics: false
